.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  background: linear-gradient(90deg, #4d7c8f, #1d1c1c);
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 500;
  height: 4rem;
  position: relative; /* Needed for absolute positioning of centerContent */
}

.leftContent {
  display: flex;
  align-items: center;
  /* flex-grow: 1; /* Remove flex-grow from leftContent */
}

.centerContent {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* Remove flex-grow from centerContent as it's absolutely positioned */
}

.userRoleBadge {
  background-color: #d7faeb; /* Light background */
  color: #161616; /* Dark text for contrast */
  padding: 0.5rem 1.5rem;
  border-radius: 20px; /* Pill shape */
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.botonHamburguesa {
  background: none;
  border: none;
  color: rgb(255, 800, 255);
  font-size: 2rem;
  cursor: pointer;
  margin-right: 1.5rem;
}

.tituloPagina {
  text-align: left;
  font-size: 2.5rem;
  font-weight: 600;
  margin-right: 2rem; /* Add some space if there's text after it */
}

/* Remove or adjust .loggedInUser as it's no longer used */
/*
.loggedInUser {
  font-size: 1.4rem;
  font-weight: 500;
  color: #c9e0ed;
  margin-left: 2rem;
}
*/

.marcaContainer {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.marcaContainer:hover {
  transform: scale(1.20);
}

.marca{
  height: 2.6rem;
  width: auto;
}