/* src/components/layout/sidebar/Sidebar.module.css */
.menu {
  position: fixed;
  top: 5.4rem;
  left: -250px;
  width: 250px;
  height: calc(100vh - 4rem); 
  background: linear-gradient(90deg, #4d7c8f, #1d1d1d);
  box-shadow: 2px 0 5px hsla(216, 80%, 35%, 0.986);
  transition: left 0.3s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.menu.abierto {
  left: 0;
}

.encabezadoMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.3rem;
  background-color: #d4d3d3;
  color: #050505;
}

.tituloMenu {
  margin: 0;
  font-size: 1.55rem;
  font-weight: 600;
}

.botonCerrar {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #000000;
}

.listaMenu {
  list-style-type: none;
  padding: 2rem 0; 
  margin: 0;
  flex-grow: 1; /* Ocupa el espacio restante para que el footer se empuje hacia abajo */
}

.listaMenu li {
  margin-bottom: 0;
}

.enlaceMenu {
  display: block;
  padding: 1rem 1.1rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  transition: background-color 0.2s;
}

.enlaceMenu:hover {
  background-color: #3b506b;
}

.enlaceMenu.activo {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
}

/* Nuevo: Estilos para el botón de logout */
.logoutContainer {
  padding: 0 1rem 1rem; /* Espacio para el botón antes del footer */
}

.boton {
  width: 100%;
  display: block;
  padding: 0.8rem 1rem;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s, color 0.5s;
}

.peligro {
  background-color: #d12f3f;
  color: rgb(0, 0, 0);
}

.peligro:hover {
  background-color: #dd172a;
}

/* Nuevo: Estilos para la sección de la marca */
.footerSidebar {
  text-align: center;
  font-size: 0.8rem;
  opacity: 0.6;
  padding: 1rem;
  color: rgb(255, 255, 255);
  margin-top: auto; /* Empuja el elemento hacia el final del contenedor flex */
}