/* src/components/ui/Modal/Modal.module.css */
.superposicion {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.contenidoModal {
  background-color: #a7a1a1;
  padding: 2.rem 2.5rem;
  border-radius: 15px;
  position: relative;
  max-width: 900px;
  width: 100%;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}

.botonCerrar {
  position: absolute;
  top: 20px;
  right: 25px;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  color: #000000;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.botonCerrar:hover {
  color: #000;
}