/* src/components/ui/Modal/Modal.module.css */
.superposicion {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.705);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  backdrop-filter: blur(20px); /* Añadir esta línea */
  -webkit-backdrop-filter: blur(5px); /* Para compatibilidad con Safari */
}



.botonCerrar {
  position: absolute;
  top: 20px;
  right: 25px;
  border: none;
  background: transparent;
  font-size: 1.8rem;
  color: #000000;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.botonCerrar:hover {
  color: #646262;
  transform: scale(1.1);
}

 