/* src/pages/Finalizacion/Finalizacion.module.css */
.contenedorPagina {
  flex: 1;
  padding: 2rem;
  margin: 0 auto;
}

.tituloPagina {
  font-size: 3rem;
  font-weight: 600;
  color: #0b3675;
  margin-bottom: 5rem;
  text-align: left;
}