/* src/components/ui/Boton/Boton.module.css */

/* Estilos base del bot贸n */
.boton {
    padding: 11px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.2s, color 0.2s, transform 0.2s;
    font-size: 1.1rem;
    transition: all 0.3s ease; /* Transici贸n */
}

.neutro {
    background-color: #9c9c9c;
    color: #000000; /* Texto oscuro */
    border: 1px solid #4c8ef0; /* Borde azul que quer铆as */
    box-shadow: 0 1px 3px rgba(120, 149, 228, 0.61); /* Sombra verde que quer铆as */
    font-size: 1.1rem;
}

/* ======================================= */
/*  NUEVA CLASE PARA 'DESACTIVAR CANCELACIN' */
/* ======================================= */
.desactivar-cancelacion {
    background-color: #cde9ad; /* Gris oscuro para neutralidad (Diferente al rojo) */
    color: #000000; /* Texto blanco */
    border-color: #000000;
}

.desactivar-cancelacion:hover {
    background-color: #8ace9f;
    border-color: #545b62;
    transform: translateY(-2px);
}
/* ======================================= */

/* Estilo para el bot贸n primario (el predeterminado) */
.primario {
    background-color: #7face7;
    color: rgb(0, 0, 0);
    border-color: #000000;
    /* MARGEN ELIMINADO para Flexbox: margin-left: 6px; */
}

.primario:hover {
    background-color: #88db93;
    border-color: #084ee6;
    transform: translateY(-2px);
}

.secundario {
    background-color: #9bc1ec; /* Color gris claro */
    color: rgb(0, 0, 0);
    border-color: #000000;
    /* MRGENES ELIMINADOS para Flexbox: margin-left: 6px; margin-top: 6px; */
}

.secundario:hover {
    background-color: #9ad8cbf3; /* Un tono m谩s oscuro en hover */
    transform: translateY(-2px);
}   

/* Estilo para el bot贸n exitoso (estado 'Enviado') */
.exitoso {
    background-color: #2ecc71; /* Color verde */
    color: rgb(0, 0, 0);
    border-color: #2ecc71;
    cursor: default; /* Cambia el cursor para indicar que ya no se puede hacer clic */
}

.exitoso:hover {
    background-color: #27ae60;
    border-color: #27ae60;
    transform: none; /* Evita el efecto de elevaci贸n en el hover */
}

.exito {
    background-color: #2ecc71; /* Color verde */
    color: rgb(0, 0, 0);
    border-color: #2ecc71;
    /* MRGENES ELIMINADOS para Flexbox: margin-left: 9px; margin-top: 6px; */
}

.exito:hover {
    background-color: #27ae60;
    border-color: #27ae60;
}

/* Estilo para el bot贸n de Cancelar (peligro) */
.peligro {
    background-color: #da6052; /* Color rojo */
    color: rgb(0, 0, 0);
    border-color: #000000;
}

.peligro:hover {
    background-color: #c0392b;
    border-color: #c0392b;
}

.info {
    background-color: #83888a; /* Un azul de informaci贸n */
    color: rgb(0, 0, 0);
}

.info:hover {
    background-color: #5377ad;
}