.footer {
  padding: 0.2rem 1rem;
  background: #0432ff42; /* Un tono de amarillo profesional */
  color: #000000; /* Un color de texto oscuro para un mejor contraste */
  text-align: center;
  font-size: 0.9rem;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

/* Diseño responsive para pantallas pequeñas */
@media (max-width: 768px) {
  .footer {
    padding: 1rem 1.5rem;
    font-size: 0.8rem;
  }
}